<% if (this.model.get("title") == "Create a new board...") { %>
	
	<div class="new board">
		<%= board.escape("title") %>
	</div>
	
<% } else { %>

	<div class="board">
		<%= board.escape("title") %>
		<button class="delete">Delete Board</button>
	</div>

<% } %>

