/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.backdrop {
	padding-left: 5%;
	padding-right: 5%;
}

.board {
	display: inline-block;
	position: relative;
	float: left;
	background: #428bca;
	height: 100px;
	width: 22.5%;
	margin: 10px;
	padding: 10px;
	color: white;
}

.new.board {
	background: lightgray;
	color: gray;
	text-align: center;
	line-height: 80px;
}

.delete {
//	float: right;
    position: absolute;
	font-size: 75%;
	bottom: 0px;
	right: 0px;	
	color: gray;
}

